@media screen and (min-width: 768px) {

    /* ---------- DESKTOP NAVIGATION ---------- */

    #menu {
        display: none;
    }

    .navigation {
        display: flex;

        position: static;

        width: auto;

        flex-direction: row;

        background-color: transparent;
    }

    .navigation a {
        padding: .5rem 1rem;
    }


    /* ---------- FOOTER ---------- */

    .footer-navigation {
        gap: 2rem;
    }


    /* ---------- INTRO ---------- */

    .favorites-intro {
        max-width: 1200px;

        margin: auto;

        padding: 5rem 2rem;

        grid-template-columns: 1fr 1fr;

        gap: 4rem;
    }

    .favorites-intro-text {
        text-align: left;
    }

    .favorites-intro h1 {
        font-size: 7rem;
    }

    .favorites-intro-text p {
        margin: 0 0 1rem;
        font-size: 1.1rem;
    }

    .favorites-intro-image img {
        max-width: none;

        height: 600px;
    }


    /* ---------- FAVORITE CARDS ---------- */

    .favorites-section {
        padding: 5rem 2rem;
    }

    .favorites-section h2 {
        font-size: 2rem;
    }

    .favorite-cards {
        grid-template-columns: repeat(2, 1fr);

        gap: 2rem;
    }

    .favorite-card {
        min-height: 180px;

        display: flex;

        flex-direction: column;

        justify-content: center;
    }


    /* ---------- ACTIVITIES ---------- */

    .favorite-activities {
        max-width: 1200px;

        margin: auto;

        padding: 5rem 2rem;

        grid-template-columns: 1fr 1fr;

        gap: 4rem;
    }

    .favorite-activities-image img {
        max-width: none;

        height: 450px;
    }

    .favorite-activities-text {
        text-align: left;
    }

    .favorite-activities h2 {
        font-size: 2rem;
    }


    /* ---------- FAVORITE SPOT ---------- */

    .favorite-spot {
        padding: 5rem 2rem;

        grid-template-columns: 1fr 1fr;

        gap: 4rem;
    }

    .favorite-spot-text {
        text-align: left;
    }

    .favorite-spot h2 {
        font-size: 4rem;
    }

    .favorite-spot-image img {
        max-width: none;

        height: 450px;
    }


    /* ---------- EVERYDAY FAVORITES ---------- */

    .favorite-moments {
        padding: 5rem 2rem;
    }

    

    .moments-container {
        grid-template-columns: repeat(3, 1fr);

        gap: 2rem;
    }

    .moments-container img {
        height: 300px;
    }

    .favorite-extra {
        max-width: 850px;

        margin-top: 3rem;
    }


    /* ---------- CURIOUS SIDE ---------- */

    .favorite-form {
        padding: 5rem 2rem;
    }

    .favorite-form h2 {
        font-size: 4rem;
    }

    .temptations {
        grid-template-columns: repeat(2, 1fr);

        gap: 2rem;
    }


    /* ---------- PERSONAL CHOICE ---------- */

    .favorite-choice-section {
        padding: 5rem 2rem;
    }

    .favorite-choice-section h2 {
        font-size: 2rem;
    }

    .favorite-choice-section form {
        max-width: 500px;
    }


    /* ---------- FINAL MESSAGE ---------- */

    .favorite-final {
        padding: 5rem 2rem;
    }

    .favorite-final h2 {
        font-size: 2rem;
    }
}