@media screen and (min-width: 768px) {

    /* ---------- DESKTOP NAVIGATION ---------- */

    #menu {
        display: none;
    }

    .navigation {
        display: flex;

        position: static;

        width: auto;

        flex-direction: row;

        background-color: transparent;
    }

    .navigation a {
        padding: 0.5rem 1rem;
    }


    /* ---------- FOOTER ---------- */

    .footer-navigation {
        gap: 2rem;
    }

    .references-page {
        padding: 5rem 2rem;
    }

    .references-page h1 {
        font-size: 3rem;
    }

    .references-page h2 {
        font-size: 2rem;
    }




}